bs4
huggingface-hub
langchain-community
langchain-openai
langchain-text-splitters
langgraph
langsmith
numpy==1.26.4
openai
packaging==25.0
sentence-transformers==3.2.0
tiktoken
tokenizers
torch
transformers==4.51.0
accelerate
faiss-cpu==1.10.0
langchain